
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Background

.bg-image{
    background-image: url('/img/bg-intranet.jpg');
    background-size: cover;    
}


#app{
    height: 100vh;
    .nav-login {
        position: fixed;
        left: 0;
        right: 0;
        top: 0px;
        padding: 10px 0 20px;
        background-color: red;
        @media only screen and (min-width: 768px) and (max-width: 1023px){
            top: 40px;
        }  
        .a-login{
            font-family: 'Francois One', sans-serif;
            text-transform: uppercase;
            font-size: 20px;
            color: #fff;
            text-shadow: 2px 2px 2px #000000;
            margin-top: 25px;
        }
        .a-login:hover, .a-login:focus {
            text-decoration: none;
            color: #0095d0;
            text-shadow: 1px 1px 1px #fff;
            background-color: transparent !important;
        }
    }
    .login{
        height: 100vh;
        .login-container{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .login-panel {
                border: none;
                border-radius: 0;
                padding: 10px;
                max-width: 450px;
                margin: 0 auto;
                @media only screen and (min-width: 300px) and (max-width: 767px){
                    max-width: 90%;
                }
                .panel-heading {
                    color: #2894C6;
                    background-color: #fff;
                    border-color: transparent;
                    font-family: 'Francois One', sans-serif;
                    .triang-abajo {
                        border-left: 25px solid transparent;
                        border-right: 25px solid transparent;
                        border-top: 10px solid #2894C6;
                        margin: -5px auto 0;
                        width: 50px;
                    }
                }
                .panel-body{
                    padding: 15px 35px 5px;
                    .form-control{
                        border: 1px solid #5992cb;
                        box-shadow: none;
                        border-radius: 0;
                    }
                    button{
                        width: 100%;
                        border-radius: 0;
                    }
                    .btn-naranja{
                        background-color: #F58231;
                        color: #fff;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

.btn-buscar{
    width: 100%;
    margin-top: 10px;
}
.titulo{
    margin: 40px 0 25px;
}

.table{
    text-align: center;
    th, tr, td{
        text-align: center;
        font-size: 15px;
        vertical-align: middle !important;
    }
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent !important;
}

.menu{
    position: relative;
    padding: 10px;
    .text-center{
        background-color: #000;
        border-radius: 10px;
        height: 180px;
        h4{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            line-height: 1.5em;
        }
    }
}
.banner{
    border-radius: 10px;
    margin: 30px 0;
    img{
        width: 100%;
        border-radius: 10px;
    }
}
.pedido{
    padding: 30px;
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 20px;
    h3{
        margin: 5px 0 0;
    }
    button{
        margin: 0;
    }
}

.circle {
    background-color: white;
    padding: 1px 5px;
    border-radius: 50%;
    color: black;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent !important;
}
.color-h4 h4{
    color: #fff;
    font-weight: 600;
}

.img-center {
    margin: 0 auto;
}

.mt-120 {
    margin-top: 120px;
}